@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}

main {
   padding: 20px;
   overflow: auto;
   display: flex;
   gap: 1.5rem;
}

#content {
   flex: 5; 
   display: flex;
   flex-flow: column nowrap;
   gap: 1rem 2rem;
}
  
aside {
   flex: 1;
}

.jumbotron {
  padding: 100px;
  text-align: center;
  font-size: 20px;
  color: #f1f5f9;
  background-image: url(../image/bromo.jpg);
  background-size: cover;
  background-position: center;
}

nav ul {
   padding-inline: 4rem;
   display: flex;
   gap: 2rem;
   justify-content: center;
}

nav li {
   list-style-type: none;
}

nav {
   background-color: #f1f5f9;
   padding: 1px;
   position: sticky;
   top: 0;
}

header {
   display: inline;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

nav a:hover {
   font-weight: bold;
}
  
h2 {
   color: #475569;
}
  
h3 {
   color: #475569;
}

.card {
   box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   background-color: #f1f5f9;
}

.featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}
.profile {
   background-color: #f1f5f9;
}

.profile header {
   text-align: center;
}

.profile img {
   width: 200px;
}

.profile section {
   text-align: center;
}
  
footer {
   padding: 10px;
   color: black;
   background-color: #e2e8f0;
   text-align: center;
}

@media screen and (max-width: 1200px) {
   main {
     flex-flow: column nowrap;
   }
  
   main aside {
     align-self: center;
   }
}
  
 @media screen and (max-width: 768px) {
   nav ul {
     justify-content: center;
   }

   .jumbotron H1{
      color: #334155;
   }
   .jumbotron P{
      color: #cbd5e1;
   }
  
   main aside {
     align-self: stretch;
   }
}
 